<div class="container">

    <!-- HEADER AND THINGS COUNT -->
    <div class="jumbotron text-center">
        <h1>I love all the things! <span class="label label-info"></span></h1>
    </div>

    <!-- THINGS LIST -->
    <div id="things-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <!-- LOOP OVER THE THINGS IN $scope.things -->
            <div *ngFor = "let thing of ithings">
                <label>
                    {{ thing.name }}: {{ thing.description }}
                </label>
            </div>
        </div>
    </div>

  </div>
