<div class="container-fluid">

    <!-- HEADER AND THINGS COUNT -->
    <div class="jumbotron text-center mt-5">
        <h1>I love all the things! <span class="badge badge-pill badge-primary" *ngIf="ithings">{{ithings.length}}</span></h1>
    </div>

    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
      <tr *ngFor="let thing of ithings">
        <td>{{thing._id}}</td>
        <td>{{thing.name}}</td>
        <td>{{thing.description}}</td>
      </tr>
    </table>

  </div>
